In [30]:
headers = ['StdId','StdName','Age','Hindi','English','Maths','Science','Computer','Total']
print(headers)
rows = [
    [101,' Abhishek Sharma',15,67,89,80,89,90,415],
    [102, 'Ashish Kumar ',15,67,89,87,19,90,352],
    [103,' Venus Singh',15,67,89,82,89,90,418],
    [104,' Ayush Gupta',15,67,79,87,89,90,412],
    [105,' Himansh Verma',15,67,89,87,80,90,421],
    [106,' Yash Chauhan' ,15,67,89,77,89,90,412],
    [107,' Harsh Shrivastava',15,67,49,87,70,90,361],
    [108,' Aditi Choudhary',15,67,89,87,89,91,423],
    [109,' Ashvita Yadav',100,97,99,97,99,90,482]
]

['StdId', 'StdName', 'Age', 'Hindi', 'English', 'Maths', 'Science', 'Computer', 'Total']

In [38]:
print('Name of student whose marks are greater than 50 in english')
for i in rows:
    if  i[4] > 50:
        print(i[1])

Name of student whose marks are greater than 50 in english
 Abhishek Sharma
Ashish Kumar
 Venus Singh
 Ayush Gupta
 Himansh Verma
 Yash Chauhan
 Aditi Choudhary
 Ashvita Yadav

In [40]:
print('name and age of top four scorers in maths')
sorted_rows_1 = sorted(rows, key=lambda x: x[5], reverse=True)
for i in sorted_rows_1[:4]:
    print(i[1], i[2])

name and age of top four scorers in maths
 Ashvita Yadav 100
Ashish Kumar  15
 Ayush Gupta 15
 Himansh Verma 15

In [42]:
print('name, id of students who are bottom three scorers')
sorted_rows_2 = sorted(rows, key=lambda x: x[-1])
for i in sorted_rows_2[:3]:
    print(i[1], i[0])

name, id of students who are bottom three scorers
Ashish Kumar  102
 Harsh Shrivastava 107
 Ayush Gupta 104