In [7]:
values = [
    [101,' Abhishek Sharma',15,67,89,80,89,90,415],
    [102, 'Ashish Kumar ',15,67,89,87,19,90,352],
    [103,' Venus Singh',15,67,89,82,89,90,418],
    [104,' Ayush Gupta',15,67,79,87,89,90,412],
    [105,' Himansh Verma',15,67,89,87,80,90,421],
    [106,' Yash Chauhan' ,15,67,89,77,89,90,412],
    [107,' Harsh Shrivastava',15,67,49,87,70,90,361],
    [108,' Aditi Choudhary',15,67,89,87,89,91,423],
    [109,' Ashvita Yadav',100,97,99,97,99,90,482]
]

In [9]:
keys = ['StdId','StdName','Age','Hindi','English','Maths','Science','Computer','Total']

In [11]:
dict_1 = []
for index in range(len(values)):
    dict_1.append(dict(zip(keys,values[index])))
dict_1

[{'StdId': 101,
  'StdName': ' Abhishek Sharma',
  'Age': 15,
  'Hindi': 67,
  'English': 89,
  'Maths': 80,
  'Science': 89,
  'Computer': 90,
  'Total': 415},
 {'StdId': 102,
  'StdName': 'Ashish Kumar ',
  'Age': 15,
  'Hindi': 67,
  'English': 89,
  'Maths': 87,
  'Science': 19,
  'Computer': 90,
  'Total': 352},
 {'StdId': 103,
  'StdName': ' Venus Singh',
  'Age': 15,
  'Hindi': 67,
  'English': 89,
  'Maths': 82,
  'Science': 89,
  'Computer': 90,
  'Total': 418},
 {'StdId': 104,
  'StdName': ' Ayush Gupta',
  'Age': 15,
  'Hindi': 67,
  'English': 79,
  'Maths': 87,
  'Science': 89,
  'Computer': 90,
  'Total': 412},
 {'StdId': 105,
  'StdName': ' Himansh Verma',
  'Age': 15,
  'Hindi': 67,
  'English': 89,
  'Maths': 87,
  'Science': 80,
  'Computer': 90,
  'Total': 421},
 {'StdId': 106,
  'StdName': ' Yash Chauhan',
  'Age': 15,
  'Hindi': 67,
  'English': 89,
  'Maths': 77,
  'Science': 89,
  'Computer': 90,
  'Total': 412},
 {'StdId': 107,
  'StdName': ' Harsh Shrivastava',
  'Age': 15,
  'Hindi': 67,
  'English': 49,
  'Maths': 87,
  'Science': 70,
  'Computer': 90,
  'Total': 361},
 {'StdId': 108,
  'StdName': ' Aditi Choudhary',
  'Age': 15,
  'Hindi': 67,
  'English': 89,
  'Maths': 87,
  'Science': 89,
  'Computer': 91,
  'Total': 423},
 {'StdId': 109,
  'StdName': ' Ashvita Yadav',
  'Age': 100,
  'Hindi': 97,
  'English': 99,
  'Maths': 97,
  'Science': 99,
  'Computer': 90,
  'Total': 482}]

In [13]:
dict_2 = {}
for index in range(len(values)):
    dict_2[index] = (dict(zip(keys,values[index])))
dict_2

{0: {'StdId': 101,
  'StdName': ' Abhishek Sharma',
  'Age': 15,
  'Hindi': 67,
  'English': 89,
  'Maths': 80,
  'Science': 89,
  'Computer': 90,
  'Total': 415},
 1: {'StdId': 102,
  'StdName': 'Ashish Kumar ',
  'Age': 15,
  'Hindi': 67,
  'English': 89,
  'Maths': 87,
  'Science': 19,
  'Computer': 90,
  'Total': 352},
 2: {'StdId': 103,
  'StdName': ' Venus Singh',
  'Age': 15,
  'Hindi': 67,
  'English': 89,
  'Maths': 82,
  'Science': 89,
  'Computer': 90,
  'Total': 418},
 3: {'StdId': 104,
  'StdName': ' Ayush Gupta',
  'Age': 15,
  'Hindi': 67,
  'English': 79,
  'Maths': 87,
  'Science': 89,
  'Computer': 90,
  'Total': 412},
 4: {'StdId': 105,
  'StdName': ' Himansh Verma',
  'Age': 15,
  'Hindi': 67,
  'English': 89,
  'Maths': 87,
  'Science': 80,
  'Computer': 90,
  'Total': 421},
 5: {'StdId': 106,
  'StdName': ' Yash Chauhan',
  'Age': 15,
  'Hindi': 67,
  'English': 89,
  'Maths': 77,
  'Science': 89,
  'Computer': 90,
  'Total': 412},
 6: {'StdId': 107,
  'StdName': ' Harsh Shrivastava',
  'Age': 15,
  'Hindi': 67,
  'English': 49,
  'Maths': 87,
  'Science': 70,
  'Computer': 90,
  'Total': 361},
 7: {'StdId': 108,
  'StdName': ' Aditi Choudhary',
  'Age': 15,
  'Hindi': 67,
  'English': 89,
  'Maths': 87,
  'Science': 89,
  'Computer': 91,
  'Total': 423},
 8: {'StdId': 109,
  'StdName': ' Ashvita Yadav',
  'Age': 100,
  'Hindi': 97,
  'English': 99,
  'Maths': 97,
  'Science': 99,
  'Computer': 90,
  'Total': 482}}

In [15]:
print('Name of student whose marks are greater than 50 in english')
for data in dict_2:
    if dict_2[data]['English'] > 50:
        print(dict_2[data]['StdName'])

Name of student whose marks are greater than 50 in english
 Abhishek Sharma
Ashish Kumar
 Venus Singh
 Ayush Gupta
 Himansh Verma
 Yash Chauhan
 Aditi Choudhary
 Ashvita Yadav

In [17]:
print('Name and Age of top four scorers in maths')
maths = sorted(dict_2,key = lambda x: dict_2[x]['Maths'])
maths.reverse()
for data in maths[:4]:
    print(dict_2[data]['StdName'])

Name and Age of top four scorers in maths
 Ashvita Yadav
 Aditi Choudhary
 Harsh Shrivastava
 Himansh Verma

In [19]:
print(" | ".join(dict_2[next(iter(dict_2))].keys()), end=" \n ")
print("-" * 40)

for data in dict_2:
    print(" | ".join(map(str, dict_2[data].values())))

StdId | StdName | Age | Hindi | English | Maths | Science | Computer | Total
 ----------------------------------------
101 |  Abhishek Sharma | 15 | 67 | 89 | 80 | 89 | 90 | 415
102 | Ashish Kumar  | 15 | 67 | 89 | 87 | 19 | 90 | 352
103 |  Venus Singh | 15 | 67 | 89 | 82 | 89 | 90 | 418
104 |  Ayush Gupta | 15 | 67 | 79 | 87 | 89 | 90 | 412
105 |  Himansh Verma | 15 | 67 | 89 | 87 | 80 | 90 | 421
106 |  Yash Chauhan | 15 | 67 | 89 | 77 | 89 | 90 | 412
107 |  Harsh Shrivastava | 15 | 67 | 49 | 87 | 70 | 90 | 361
108 |  Aditi Choudhary | 15 | 67 | 89 | 87 | 89 | 91 | 423
109 |  Ashvita Yadav | 100 | 97 | 99 | 97 | 99 | 90 | 482

In [21]:
print('Name and Age of top four scorers in maths')
maths = sorted(dict_2,key = lambda x: dict_2[x]['Maths'])
maths.reverse()
dict_2[8]['Age'] = 16
for data in maths[:4]:
    print(dict_2[data]['StdName'],end = " ")
    print(dict_2[data]['Age'],end = " \n ")

Name and Age of top four scorers in maths
 Ashvita Yadav 16
  Aditi Choudhary 15
  Harsh Shrivastava 15
  Himansh Verma 15

In [23]:
print('Name, Id of students who are bottom three scorers in Computer')
computers = sorted(dict_2,key = lambda x: dict_2[x]['Computer'])
for data in computers[:4]:
    print(dict_2[data]['StdName'],end = " ")
    print(dict_2[data]['StdId'],end = " \n ")

Name, Id of students who are bottom three scorers in Computer
 Abhishek Sharma 101
 Ashish Kumar  102
  Venus Singh 103
  Ayush Gupta 104